
/*==================
    google font
 ===================  */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,500&family=Poppins:wght@700&display=swap');

body{
    font-family: 'Playfair Display', serif;

}
/*=================================
    borwser default style remove
 ================================== */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






/*===================
    First section
 ====================  */


.main-1{
    display: flex;
    padding: 100px;
    margin: 100px;
    
}

    
.heading-1{
    font-size: 60px;
    color: rgb(54, 51, 51);
    padding-bottom: 10px;
}
.paragraph-1{
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 2.5em;
}
    
/*=================
    button start
 ==================*/

button{
    width: 15.625em;
    line-height: 3.125em;
    text-align: center;
    border: none;
    padding: 8px;
    border-radius: 2.1875em;
    background-color: #E02C6D;
    font-size: 1.25em;
    color: white;
    cursor: pointer;
}


    button:hover{
        background-color: #4d0f24;
        text-shadow:0.5px 3px 3px; 
        font-size: 1.30em;
        transition: 1s ease-in-out;
    }



/*=================
    button close
 ==================*/






